<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Live Weather</title>
  <link rel="stylesheet" href="css/main.css" />
  <link rel="icon" href="/images/weather.png" />
  <script src="https://kit.fontawesome.com/df8fde483e.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="main-wrapper">
    <div class="container">
      <div class="heading-part">
        <h1 class="heading--primary" onClick="refreshPage()"><a href="#">Welcome to live weather!</a>
        </h1>
        <h2 class="heading--secondary">
          Search for the weather forecast around the globe.
        </h2>
      </div>
      <div class="search-part">
        <form class="search--form" action="" method="">
          <input type="text" placeholder="Search for a location..." />
          <button class="btn" type="submit">Search</button>
        </form>
      </div>
      <div class="location-display">
        <h3 id="location" class="location"></h3>
      </div>
      <div class="main-area">
        <div class="box-wrapper">
          <div class="box-wrapper__main box">
            <div class="box-wrapper__main-icon">
              <i id="icon" class="fas fa-cloud-sun"></i>
            </div>
            <div class="box-wrapper__main-summary">
              <h3 id="summary">Search to find out...</h3>
            </div>
            <div class="box-wrapper__main-date">
              <h2 id="date"></h2>
              <h2 id="time"></h2>
            </div>
          </div>
          <div class="box-wrapper__temprature box">
            <div class="box-wrapper__temprature-title">
              <h3 class="title-main title">Temprature</h3>
            </div>
            <div class="box-wrapper__temprature-text">
              <h1 id="temprature" class="text-main text">0°</h1>
            </div>
          </div>
          <div class="box-wrapper__humidity box">
            <div class="box-wrapper__humidity-title">
              <h3 class="title-main title">Humidity</h3>
            </div>
            <div class="box-wrapper__humidity-text">
              <h1 id="humidity" class="text-main text">0</h1>
            </div>
          </div>
          <div class="box-wrapper__precipitation box">
            <div class="box-wrapper__precipitation-title">
              <h3 class="title-main title">Precipitation</h3>
            </div>
            <div class="box-wrapper__precipitation-text">
              <h1 id="precipProbability" class="text-main text">0</h1>
            </div>
          </div>
          <div class="box-wrapper__uvindex box">
            <div class="box-wrapper__uvindex-title">
              <h3 class="title-main title">UV Index</h3>
            </div>
            <div class="box-wrapper__uvindex-text">
              <h1 id="uvIndex" class="text-main text">0</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/app.js"></script>
</body>

</html>