// Colors
$color--1: #fe5e41;
$color--2: #22db9c;
$color--3: #3a1772;
$color--4: #f2cd5d;
$color--5: #1ccad8;
$color--text: #fbfef9;
$color-background: #fbfef9;

$color--heading-primary: #00db49;
$color--heading-secondary: #1ccad8;
$color--location: #cc004e;

$color--button-background: #00db49;
