.heading-part {
  .heading--primary {
    font-size: 5rem;
    color: $color--heading-primary;
    font-weight: 700;
  }
  .heading--secondary {
    font-size: 3rem;
    color: $color--heading-secondary;
    font-weight: 500;
  }
}

.search-part {
  input {
    background: rgb(238, 238, 238);
    border: none;
    font-size: 2rem;
    color: #22db9c;
    padding: 1rem;
    border-radius: 0.8rem;
    width: 60%;
    @include respond(phone) {
      width: 100%;
    }

    &::placeholder {
      color: rgb(224, 224, 224) (37, 37, 37);
      opacity: 0.5;
    }
  }
  button {
    border: none;
    padding: 0.9rem 2.8rem;
    margin-left: 3rem;
    font-size: 2rem;
    border-radius: 0.8rem;
    cursor: pointer;
    @include respond(phone) {
      margin-left: 0rem;
      margin-top: 1rem;
      float: right;
    }

    &:hover {
      filter: brightness(110%);
    }
  }
}

.location-display {
  margin-top: 1rem;
  .location {
    font-size: 2.5rem;
    color: $color--location;
  }
}

.main-area {
  .box-wrapper {
    &__main {
      i {
        font-size: 12rem;
      }

      &-summary {
        font-size: 2rem;
        padding: 0 1rem;
      }
      &-date {
        font-size: 2.4rem;
      }
    }
    .title {
      font-size: 2rem;
      font-weight: 500;
      @include respond(tab-land) {
        padding-top: 2rem;
      }
    }
    .text {
      font-size: 8rem;
      font-weight: 700;
    }
  }
}
