.main-wrapper {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 25rem;

    .main-area {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
      .box-wrapper {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
        grid-gap: 3rem;

        .box {
          color: $color--text;
          border-radius: 1.5rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }

        &__main {
          grid-column: 1/2;
          grid-row: 1/3;
        }
        &__temprature {
          grid-column: 2/3;
          grid-row: 1/2;
        }
        &__humidity {
          grid-column: 3/4;
          grid-row: 1/2;
        }
        &__precipitation {
          grid-column: 2/3;
          grid-row: 2/3;
        }
        &__uvindex {
          grid-column: 3/4;
          grid-row: 2/3;
        }
      }
    }
  }
}
